/* Color Palette: https://coolors.co/2a2b2e-5a5a66-a4c2a8-aceb98-87ff65 */

section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 120px;
  background: #2A2B2E;
  color: #87FF65;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 600;
}

table, th, td {
  border: 1px solid #A4C2A8;
  border-collapse: collapse;
  padding: 0.75em;
}

th {
  font-weight: 600;
  color: #ACEB98;
}

td {
  color: #A4C2A8;
  font-weight: 300;
}

nav {
  display: flex;
  position: fixed;
  align-items: center;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1.5em;
  height: 80px;
  width: 100%;
  background-color: #5A5A66;
  color: #ACEB98;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 600;
}
